# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

README.md
html css js/authors and their works/scripts.js
node.js/elado_szinhazjegy/package-lock.json
node.js/elado_szinhazjegy/package.json
node.js/elado_szinhazjegy/src/utils/constants.js
react/react-todo-app/src/TodoItem.jsx
react/react-todo-app/src/TodoItemsContext.jsx

gradle/parallel-dynamic-grade-project/.idea/
gradle/parallel-dynamic-grade-project/build/
gradle/parallel-dynamic-grade-project/example.jil

html css js/html5up-verti.zip
html css js/html5up-verti/

node.js/cinema-API/
node.js/elado_szinhazjegy/webdriver.js

