<!-- Main -->
<app-banner></app-banner>
<app-features></app-features>
<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">
        <!-- Sidebar -->
        <div id="sidebar">
          <section class="widget thumbnails">
            <h3>Képek tőlünk</h3>
            <div class="grid">
              <div class="row gtr-50">
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/adrienn-face.png" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/adrienn-massage.png" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/foot-massage.png" alt=""
                  /></a>
                </div>
                <div class="col-6">
                  <a href="#" class="image fit"
                    ><img src="images/formassage-atmosphere.png" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="col-8 col-12-medium imp-medium">
        <!-- Content -->
        <div id="content">
          <section class="last">
            <h2>A Formasszázs Stúdióról</h2>
            <p>
              A <strong>Formasszázs Stúdiót</strong> azzal a céllal hoztuk létre
              Budapesten, a XIII. kerületben, hogy aki hozzánk fordul, az a
              kezelések által egészségesedjen és közérzete javuljon.
            </p>
            <p>
              Többféle kezelés van a stúdiónkban– mint pl. a
              <a
                href="/szolgaltatasok/masszazs-budapest/nyirokmasszazs.html"
                target="_self"
                title="nyirokmasszázs"
                >nyirokmasszázs</a
              >, lazító hátmasszázs, cellulit csökkentő kezelés,
              <a
                href="/szolgaltatasok/masszazs-budapest/talpmasszazs.html"
                target="_self"
                title="talpmasszázs"
                >talpmasszázs</a
              >,
              <a
                href="/szolgaltatasok/masszazs-budapest/tibeti-hangtal-kezeles.html"
                target="_self"
                title="tibeti hangtál, hangfűrdő"
                >tibeti hangtál</a
              >, kranioszakrális kezelés – &nbsp;hatékonyan tudunk Neked
              segíteni az
              <a
                href="/szolgaltatasok/alakformalo-kezelesek.html"
                target="_self"
                >alakformálás</a
              >, karcsúsítás terén is; a narancsbőr kezeléssel, táplálkozási
              tanácsadással. <br /><br />Várunk nyirokmasszázzsal.
              Talpmasszázzsal,
              <a
                href="/szolgaltatasok/kranioszakrális-terapia.html"
                target="_self"
                title="Kranioszakrális terápia"
                >Kranioszakrális </a
              >kezeléssel egyensúlyba hozni és ellenállóbbá tenni a tested,
              valamint a fogyáshoz fogyasztó kezelésekkel táplálkozási tippekkel
              segítjük átalakulásod.
            </p>
            <p>
              Ha szeretnéd megőrizni egészségedet, harmonizálni tested működését
              a kraniosacrális kezelést ajánljuk figyelmedbe. Ez a módszer
              (Kranioszakrális azaz a koponya - keresztcsont közötti terület
              teljes ellazítása, blokkok traumák kioldása, mély relaxációs
              állapotban) nem csak testileg, de lelkileg is hozhat pozitív
              változás.
            </p>
            <a href="#" class="button icon solid fa-arrow-circle-right"
              >Időpontfoglalás</a
            >
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
