<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="col-3 col-6-medium col-12-small">
        <!-- Links -->
        <section class="widget links">
          <h3>Masszázs, alakformálás, bőrszépítés</h3>
          <ul class="style2">
            <li><a href="#">Nyirokmasszázs</a></li>
            <li><a href="#">Talpmasszázs</a></li>
            <li><a href="#">Fogyasztó kezelés Wiener aromaterápiával</a></li>
            <li><a href="#">Cellulit masszázs, narancsbőr csökkentés</a></li>
            <li><a href="#">Hátmasszázs</a></li>
            <li><a href="#">Nyomásterápiás hullámmasszázs</a></li>
          </ul>
        </section>
      </div>
      <div class="col-3 col-6-medium col-12-small">
        <!-- Links -->
        <section class="widget links">
          <h3>Kezelések, Ezoterápia, Stresszoldás</h3>
          <ul class="style2">
            <li><a href="#">Kranioszakrális kezelés</a></li>
            <li><a href="#">Reiki kezelés</a></li>
            <li><a href="#">Tibeti hangtál kezelés</a></li>
            <li><a href="#">Stresszoldó kezelés Bach virág cseppekkel</a></li>
          </ul>
        </section>
      </div>
      <div class="col-3 col-6-medium col-12-small">
        <!-- Links -->
        <section class="widget links">
          <h3>Géllakk, műköröm, manikűr</h3>
          <ul class="style2">
            <li><a href="#">Géllakk</a></li>
            <li><a href="#">Műköröm</a></li>
            <li><a href="#">Manikűr</a></li>
          </ul>
        </section>
      </div>
      <div class="col-3 col-6-medium col-12-small">
        <!-- Contact -->
        <section class="widget contact last">
          <h3>Kapcsolat</h3>
          <ul>
            <li>
              <a href="#" class="icon brands fa-facebook-f"
                ><span class="label">Facebook</span></a
              >
            </li>
          </ul>
          <p>
            Körtvélyessy Adrienn<br />
            kortvelyessyadrienn10&#64;gmail.com<br />
            +36 70 410 3545
          </p>
        </section>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; 2024. formasszazs.hu - Minden jog fenntartva.</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
