spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sandbox
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 300000
      max-lifetime: 1800000
      connection-timeout: 30000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
flight-delay:
  filepath: C:\Users\kvint\Downloads\flight_data_2024.csv